# #########################
# General section
# #########################

# Available: any acceptable by compiler (-O2 / -Os should work)
GENERAL_OPTIMIZATION = -O2

# Available: x86, x86_64, arm, aarch64
ARCH = x86

# Available: 
# x86: i686, pentiumpro
# x86_64: core2, corei
# arm: cortexa8
# aarch64: cortexa72
CPU_TYPE = i686



# #########################
# Boot section
# #########################


# #########################
# Drivers section
# #########################


# #########################
# Debug section
# #########################

# Available: any acceptale by compiler
DEBUG_FLAGS = -g2



# #########################
# Extreme section
# #########################

# #########################
# klibc tuning
# #########################
KLIBC_ALWAYS_USE_GENERICS = 1 